#contact iframe {
    width: 100%;
}

.contact_1 h3 {
    display: inline;
}

.contact_1 a {
    text-shadow: none;
}

input {
    background: grey;
}

.travel_mainDiv {
    border: 4px solid #c7c7c7;
    padding-left: 0px;
    padding-right: 0px;
    float: none;
    background-color: #6D1E49;
    
}

.travel_mainDiv img {
    width: 100%;
    height: 450px;
    margin-top: 30px;
   
}

.travel_mainDiv hr {
    width: 230px;
}

.travel_mainDiv h5,
.travel_mainDiv p {
    margin-left: 20px;
}


.movie_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
    background-color:green;
    font-weight: bold;
}

.movie_head i {
    float: right;
}

.movie_text span {
    color: #ff7700;
}

.environment_li {
    margin-top: 13px;
}

.environment_li h4 {
    border-bottom: 1px solid white;
    padding: 8px;
}

.environment_li img {
    border-radius: 25px;
}

.environment_li p {
    margin-top: 10px;
}

.header_entrepreneur {
    line-height: 2;
}

.book {
    cursor: pointer;
}

.book hr {
    margin-bottom: 10px;
}

.modal-content {
    margin-top: 100px;
}

.img_modal {
    display: inline-block;
}

.p_modal {
    margin-top: 10px;
}

.modal-body {
    text-align: center
}

.navbar-inverse {
background-color: #6D1E49;

}


#name{
    color:steelblue;
}



#link:hover{
 
    font-size: 22px;;
    font-weight: bold;  
}
#link{
    font-family:Zapf Chancery;
    color:white;
    font-size: 18px;
}


#link1{
    color:white;
    font-size: 23px;
    font-family:Zapf Chancery;
    font-variant: normal;
}



.container
{
    text-align: center;
    width: 100%;
}
#myCarousel
{
    background-color: black;
}

#myCarousel img
{
    height: 600px;
    margin-top: 35px;
}

.carousel-inner p
{
    margin-bottom: 15px;
    margin-top: 15px;
    color : white;
    font-size: 20px;
}

#myCarouse2
{
    background-color:#6D1E49 ;
}

#myCarouse2 img
{
    height: 550px;
    width:100%;
    margin-top: 35px;
}



#contactss1{
    margin-left:200px;
    border-radius:100px;
}

#hotel{
    text-align: left;
    font-weight: bolder;
    color:green;
    font-size:20px;
}

#contactdetails{
    text-align: left;
}

h3{
    font-family: 'Cinzel Decorative', cursive;
    
    font-weight: bold;
    color: #6D1E49;
    font-variant: normal;
   
    text-transform: uppercase;
    font-family: verdana;
    font-size: 2em;
    font-weight: 700;
    color: #6D1E49;
    text-shadow: 0.1px 0.1px 0.1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);


}

kbd{
    background-color:green;
    color:white;
    font-variant: normal;
    font-family:Zapf Chancery;
    font-weight: 900px;
    font-size: 20px;
    

}


.kbd1{
    background-color:green;
    color:white;
    font-variant: normal;
    

}

h5{
    color: black;
}

#top{
    font-size:18px;
}

body{
    background-image: url("https://papers.co/wallpaper/papers.co-bb29-white-mountain-bubble-minimal-illustration-art-29-wallpaper.jpg");
   
}

h2{
    font-family: 'Arizonia', cursive;
    font-size:80px;
    color:black;
    font-weight: bold;
}

.intext{
    font-size:20px;
    font-family:Zapf Chancery;
    color:white;
}
.intexti{
    font-size:20px;
    font-family:Zapf Chancery;
    color:white;
}